@model MVCProject.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ecode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ecode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deptid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deptid)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ecode }) |
    <a asp-action="DisplayEmps">Back to List</a>
</div>
