@model List<String>

<h1> <center>List of SubCategories</center></h1>

<br />
<div class="d-flex flex-wrap justify-content-between">
    @foreach (var item in Model)
    {
        //string imagePr = Convert.ToBase64String(item.Image);

        <div style="width: 300px;margin-bottom: 20px;padding: 10px;border: 1px solid #ccc;
                    border-radius: 5px;">
                @* <img src="data:image/jpeg;base64,@imagePr" alt="My image" width="200px" height="200px" /> *@
                <h3>@item</h3>
                @* <p class="lead fw-bold">Rating : @item.Rating</p> *@
                @* <p class="lead fw-bold">Price : @item.Price</p> *@
                @* <a asp-action="ProductDetails" asp-route-id="@item.Id">Details</a> *@
            <a asp-controller="Users" asp-action="UserDashboard" asp-route-SubCategoryName="@item" class="w-100 btn btn-dark">View Products</a>
        </div>
    }
</div>